/* style.css */
body {
  background-color: pink;
  color: #FFFFFF;
}
h1 {
  color: #FFFF33;
  font: Arial 200%;
}
h2 {
  color: #000000;
}
figcaption {
  color: black;
  font: Arial 150%;
}
@viewport {
  width: device-width;
  zoom: 1.0;
}
